.gap {
    height: 20px;
}

.gridbox {
    grid-template-columns: repeat(2, 1fr);
}

.my_img {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 140px;
    width: 140px;
    margin: 15px auto;
}

#page {
    gap: 8px;
    line-height: 30px;
    font-size: 18px;
}

.left a:hover {
    color: #1450A3;
}
.content a:hover {
    color: #304D30;
}

.left {
    position: relative;
    height: auto;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 5px;
    place-content: center;
    margin-bottom: 20px;
    padding: 10px 0;
}

.information {
    grid-column: 1/2;
    grid-row: 3/4;
    position: relative;
    width: auto;
    margin: auto;
    grid-template-columns: 75% 25%;
}

.line {
    width: 80px;
}

#name {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    margin: 5px auto 20px auto;
    text-align: center;
}

.list_icon {
    padding: 0px 3px;
}

.content_box {
    grid-template-columns: 1fr;
}
.content {
    margin: 10px 20px;
}

/* 百分圖 */
.circle{
    --width: 110px;
}
.circle-inside{
    --bar-width: 25px;
    font-size: 14px;
}