:root {
    --background-yellow: #FFF7D4;
    --left-background: #9BB8CD;
    --left-fontcolor: #08326c;
    --a-link-visited: #1450A3;
    --a-hover: #FFFFDD;
    --fontcolor: #617A55;
    --title-fontcolor: #F9975D;
    --content-link-visited: #304D30;
    --content-hover: #B1C381;
}